<%- include('../tela') %>

<h1>Novo Apoio</h1>
<form action="/apoia/nova?aluno=<%= alunoId %>" method="POST">
  <label for="descricao">Descrição:</label>
  <textarea name="descricao" id="descricao" required></textarea>
  <br>

  <label for="data">Data:</label>
  <input type="date" name="data" id="data" required>
  <br>

  <button type="submit">Salvar Apoio</button>
</form>
