html
  head
    title Login
    link(rel="stylesheet", href="/css/login.css")
  body
    .login-container
      h2 Login
      if erro
        p(style="color:red") #{erro}
      form(action="/login" method="post")
        label(for="email") Email:
        input(type="email", name="email", placeholder="exemplo@gmail.com", required)
        label(for="senha") Senha:
        input(type="password", name="senha", placeholder="Senha", required)
        button.forgot(type="button", onclick="window.location='/esqueceuSenha'") Esqueceu a senha?
        br
        button(type="submit") Entrar


