.turmas { /* item */
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    background-color: white;
}

.ger{   /* geral */
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;         /* quebra para a linha de baixo */
    gap: 10px;    
}

.nome{
  text-decoration: none;
  color: black;
}
