.turmas {
  /* item */
  display: inline-block;
  width: 20%;
  margin: 10px;
  padding: 10px;
  border-width: 5px;
  border-radius: 20px;
  border-color: #357ab8;
  border-style: solid;
  background-color: aliceblue;
  text-align: center;
}

.ger {
  /* geral */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* quebra para a linha de baixo */
  gap: 10%;
  border: #357ab8 solid 10px;
  background-color: #7fb2e0;
  border-radius: 30px;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
}

.nome {
  text-decoration: none;
  color: black;
}

.btn-acao{
  width: fit-content;
  height: fit-content;
}

.btn-acao i{
  font-size: 15px;
  width: 15px;
  height: 15px;
}