extends ../tela.pug

block content
  h1 Novo Usuário
  if erro
    p(style="color:red") #{erro}
  form(action="/usuarios/novo" method="POST")
    label(for="email") Email:
    input(type="email" name="email" required)
    br
    label(for="senha") Senha:
    input(type="password" name="senha" required)
    br
    if usuario && usuario.perfil === 'admin'
      label(for="perfil") Perfil:
      select(name="perfil")
        option(value="comum") Usuário comum
        option(value="admin") Administrador
      br
    button(type="submit") Cadastrar
    a(href="/login" style="margin-left:1rem;") Voltar ao login