<link rel="stylesheet" href="/css/footer.css">

<div class="foot">
  © 2024 SAPE - Sistema de Acompanhamento Pedagógico Escolar <br>
  R. Alameda Ascendino Moraes de Sá, 0 <br>
  (48) 3529-0287
</div>