<link rel="stylesheet" href="/css/navbar.css">

<nav id="navbar">
  <h2>SAPE</h2>
  <ul>
    <li><a href="/alunos/">Alunos</a></li>
    <li><a href="/turmas/lista">Turmas</a></li>
    <% if (isAdmin) { %>
      <li><a href="/usuario/lista">Usuários</a></li>
      <% } %>
  </ul>

  <% if (usuario) { %>
    <a href="/usuario/perfil" style="display:flex;align-items:center;text-decoration:none;color:inherit;">
      <% if (usuario.foto) { %>
        <img src="<%= usuario.foto %>" alt="foto" style="width:40px;height:40px;border-radius:50%;">
        <% } else { %>
          <img src="../imagens/padra.png" alt="sem foto" style="width:40px;height:40px;border-radius:50%;">
          <% } %>
    </a>
    <% } else { %>
      <a href="/login">Entrar</a>
      <% } %>
</nav>