link(rel="stylesheet", href="/css/navbar.css")
nav(id="navbar")
  h2 SAPE
  ul
    li
      a(href="/alunos/") Alunos
    li
      a(href="/turmas/lista") Turmas
    li
      a(href="/usuarios/lista") Usuários