<link rel="stylesheet" href="/css/navbar.css">

<nav id="navbar">
  <h2>SAPE</h2>
  <ul>
    <li><a href="/alunos/">Alunos</a></li>
    <li><a href="/turmas/lista">Turmas</a></li>
    <% if (user && user.role==='admin' ) { %>
      <li><a href="/usuarios/lista">Usuários</a></li>
      <% } %>
  </ul>
</nav>