doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        <div id="footer">
            <p>Sistema de acompanahamento Pegagogico - versão 1.0</p>
            <p>Desenvolvido por <a href="vinicius e lucas">Vinicius e Lucas</a></p>