<%- include('../tela') %>

<h1>Novo nepre</h1>

<form action="/nepre/novo?aluno=<%= alunoId %>" method="POST">
  <div>
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" required>
  </div>

  <div>
    <label for="dataInicio">Data de Início:</label>
    <input type="date" id="dataInicio" name="dataInicio" required>
  </div>

  <div>
    <label for="dataFim">Data de Fim:</label>
    <input type="date" id="dataFim" name="dataFim">
  </div>

  <button type="submit">Salvar</button>
</form>

<a href="/alunos/detalhes/<%= alunoId %>">Voltar</a>
