<%- include('../tela') %>

<h1>Cadastro de Aluno</h1>

<form action="/alunos/cadastrar" method="POST">
  <div>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required>
  </div>

  <div>
    <label for="sobrenome">Sobrenome:</label>
    <input type="text" name="sobrenome" id="sobrenome" required>
  </div>

  <div>
    <label for="turma">Turma:</label>
    <select name="turma" id="turma" required>
      <option value="" disabled selected>Selecione uma turma</option>
      <% turmas.forEach(function(turma) { %>
        <option value="<%= turma._id %>"><%= turma.nome %></option>
      <% }) %>
    </select>
  </div>

  <div>
    <label for="dataN">Data de Nascimento:</label>
    <input type="date" name="dataN" id="dataN" required>
  </div>

  <div>
    <label for="necesidadeE">Necessidades especiais:</label>
    <input type="text" name="necesidadeE" id="necesidadeE">
  </div>

  <div>
    <label for="problemaSaude">Problema de saúde:</label>
    <input type="text" name="problemaSaude" id="problemaSaude">
  </div>

  <div>
    <label for="apoia">APOIA</label>
    <input type="checkbox" name="apoia" id="apoia">
    <br>
    <label for="nepre">NEPRE</label>
    <input type="checkbox" name="nepre" id="nepre">
  </div>

  <div>
    <label for="disiplinarD">Problema disciplinar:</label>
    <input type="text" name="disiplinarD" id="disiplinarD">
  </div>

  <div>
    <label for="trasfenciaOnde">Transferência de onde:</label>
    <input type="text" name="trasfenciaOnde" id="trasfenciaOnde">
  </div>

  <div>
    <label for="trasferenciaD">Descrição da transferência:</label>
    <input type="text" name="trasferenciaD" id="trasferenciaD">
  </div>

  <div>
    <label for="segundoProfessor">Segundo Professor:</label>
    <input type="checkbox" name="segundoProfessor" id="segundoProfessor">
  </div>

  <div>
    <label for="segundoProfessorNome">Nome de segundo professor:</label>
    <input type="text" name="segundoProfessorNome" id="segundoProfessorNome">
  </div>

  <div>
    <label for="observacao">Observação:</label>
    <textarea class="ctexto" name="observacao" id="observacao" rows="4" cols="50"></textarea>
  </div>

  <div>
    <button type="submit">Cadastrar</button>
    <a class="btn" href="/alunos/">Ver lista de usuários</a>
  </div>
</form>


