extends ../tela

block content
  h1 Cadastrar Turma

  form(action="/turmas/cadastrar" method="POST")
    div
      label(for="nome") Nome da Turma:
      input(type="text" name="nome" required)

    div
      label(for="periodo") Turno:
      select(name="periodo" required)
        option(value="" disabled selected) Selecione o periodo
        option(value="Manhã") Manhã
        option(value="Tarde") Tarde

    button(type="submit") Cadastrar
