<%- include('../tela') %>

  <head>
    <link rel="stylesheet" href="/css/cadastroTurmas.css">
  </head>

  <h1>Cadastrar Turma</h1>
  <div class="form-turma"> 
    <form class="container" action="/turmas/cadastrar" method="POST">
    <div>
      <label for="nome">Nome da Turma:</label>
      <input type="text" name="nome" id="nome" required>
    </div>

    <div>
      <label for="periodo">Turno:</label>
      <select name="periodo" id="periodo" required>
        <option value="" disabled selected>Selecione o período</option>
        <option value="Matutino">Matutino</option>
        <option value="Vespertino">Vespertino</option>
        <option value="Noturno">Noturno</option>
        <option value="Integral">Integral</option>
      </select>
    </div>

    <div>
      <label for="ano">Ano:</label>
      <input type="number" name="ano" id="ano" required min="2000" max="2100">
    </div>

    <div class="botoes">
    <button type="submit">Cadastrar</button>
    <button type="button" onclick="window.location.href='/turmas/lista'">Voltar</button>
  </div>
    </form>
  </div>